<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/net.duboue.pablo.gal/src/net/duboue/pablo/gal/LearnFSA.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.duboue.pablo.gal.LearnFSA"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="toy-training.txt&#10;net/duboue/pablo/gal/default.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="net.duboue.pablo.gal"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx5G"/>
</launchConfiguration>
